[submodule "opsworks_sidekiq"]
	path = opsworks_sidekiq
	url = git@github.com:drakerlabs/opsworks_sidekiq.git
[submodule "opsworks_rails_secrets"]
	path = opsworks_rails_secrets
	url = git@github.com:hyperventures/opsworks_rails_secrets.git
